# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF / build gerado
# sdkconfig.* sao gerados a partir de sdkconfig.defaults (mantemos so o defaults)
sdkconfig
sdkconfig.*
!sdkconfig.defaults
build/

# Editores
.vscode/
.idea/
*.swp
.DS_Store

# Created during build
src/www_assets.c
src/www/index.html.gz
src/www/app.js.gz
src/www/style.css.gz
